trigger:
- main

pool:
  name: cluster-pool

steps:
- checkout: self

# Login to Docker Hub
- task: Docker@2
  displayName: Login to Docker Hub
  inputs:
    command: login
    containerRegistry: dockerhub-connection

# Build Docker Image
- task: Docker@2
  displayName: Build Docker Image
  inputs:
    command: build
    Dockerfile: app/Dockerfile
    repository: prasanthrajrp/sample-app
    tags: |
      latest
      $(Build.BuildId)

# Push Docker Image to Docker Hub
- task: Docker@2
  displayName: Push Docker Image
  inputs:
    command: push
    repository: prasanthrajrp/sample-app
    tags: |
      latest
      $(Build.BuildId)
    containerRegistry: dockerhub-connection

# ⚡ APPLY YAML automatically
- script: |
    kubectl apply -f k8s/deployment.yaml -n sample-app
    kubectl apply -f k8s/service.yaml -n sample-app
  displayName: Apply Kubernetes manifests

# ⚡ Update image to latest build
- script: |
    kubectl set image deployment/sample-app \
      sample-app=prasanthrajrp/sample-app:$(Build.BuildId) \
      -n sample-app
  displayName: Update deployment image